---
layout: roq-default/main
---


{@io.quarkiverse.roq.frontmatter.runtime.model.NormalPage page}

<div class="hero">
  {#insert /}
</div>

<h1>Soirées</h1>

{#if site.collections.get('posts')}
{#for post in site.collections.get('posts').paginated(page.paginator)}
<article class="post">
  {#if post.image}
  <a class="post-thumbnail" style="background-image: url({post.image})" href="{post.url}"></a>
  {/if}
  <div class="post-content">
    <h2 class="post-title"><a href="{post.url}">{post.title}</a></h2>
    <p>{#markdown}{#eval post.firstSection page=post/}{/markdown}</p>
	<p><a href="{post.url}">Informations et inscriptions sur la page de la soirée</a></p>
    <span class="post-date">{post.date.format('yyyy, MMM dd')}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
    <span class="post-words">
      {post.readTime} minute(s) read
    </span>
  </div>
</article>
{/for}

{#include partials/roq-default/pagination.html/}
{/if}