---
layout: theme-layouts/roq-default/main
---

{#insert /}

{#header}
<header>
  {#insert about}{#include partials/roq-default/sidebar-about /}{/}
  {#insert menu}{#include partials/roq-default/sidebar-menu menu=cdi:menu.items /}{/}
  <section class="menu">
    <h3 class="menu-title">Sponsors</h3>
  <a href="https://amadeus.com/fr" title="Sponsor salle et buffet"><img src="{site.page('Sponsors/index.md').image('amadeus.png')}"/></a>
  </section>
  <section class="menu">
    <h3 class="menu-title">Partenaires</h3>
	<ul>
      <li><a href="https://rivieradev.fr/" title="La plus meilleure des confs"><img src="https://rivieradev.fr/static/images/favicon.png"/>Riviera DEV</a></li>
	  <li><a href="https://jssophia.io/" title="Le Meetup JavaScript de Sophia-Antipolis"><img src="https://jssophia.io/img/JSSophia.svg"/>JS Sophia</a></li>
      <li><a href="https://marsjug.org/" title="Le JUG de nos copaings de Marseille"><img src="https://marsjug.org/static/assets/images/marsjug.png"/>Mars JUG</a></li>
	</ul>
  </section>
</header> <!-- End Header -->
{/}
